* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: normal 16px/24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*:before,
*:after {
 box-sizing: border-box;
}

body{
    height: 100%;
    background: #EDEDED;
    position: relative;
}

.card-body img{
    min-width: 100%;
    max-width: 100%;
    
}

p{
    color: grey;
    line-height: 30px;
}

.card-header{
    background: white; 
    padding: 30px;
}
.card-header h1{
    color:#20ACA5;
    font: bold 32px/40px "Open Sans", "Times New Roman", Helvetica, Arial, sans-serif;
}

.navbar-brand{
    color: white !important;
    font: bold 32px/40px "Open Sans", "Times New Roman", Helvetica, Arial, sans-serif;
    height: 100%; 
    background: #20ACA5;
    margin: 0px;
    padding: 10px;
}

.main-container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 120px; /* height of your footer */
}

.footer {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #666666;
    text-align: center;
    font-size: small;
}

.footer h1{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: white;
}

.green-line{
    min-width: 100%;
    max-width: 100%;
    min-height: 7px;
    max-height: 7px;
    background-color: #20ACA5;
}

@media (max-width: 992px) { 
    .navbar{
        background-color: #20ACA5 !important;
        padding: 0px;
    }

    #navbarSupportedContent{
        background-color: white !important;
        padding: 20px;
    }

    button{
        margin-right: 30px;
    }

    .container{
        margin-bottom: 30px; 
        min-width: 100% !important;
        max-width: 100% !important;
        clear: both;
    }

    .card{
        min-width: 100%;
        max-width: 100%;
        clear: both;
    }
}